<!doctype html>
<html>
	<head>
		<script src="fetch/fetch.js"></script>
		<script src="webcomponentsjs/webcomponents-lite.min.js"></script>
		<link rel="import" href="polymer/polymer.html">

		<title> Liquid.js Framework Demo </title>

		<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes"/>

		<style>
			html,body {
				height: 100%;
				margin: 0;
				font-family: 'RobotoDraft', sans-serif;
				position: relative;
				-webkit-user-select: none;
				background-repeat: repeat-y;
			}
			.draggableSpace > * {
				position: absolute;
			}

			#mainToolbar {
				background: #444;
			}
		</style>

		<style is="custom-style">
			:root {
				--paper-input-container-color: white;
				--paper-input-container-input-color: white;
				--paper-input-container-focus-color: white;
			}
		</style>
	</head>
	<body unresolved onload="load()">
		Hello World

		<script src="corescripts/liquidAPI.js"></script>
		<script src="scripts/application.js"></script>
	</body>
</head>