<link rel="import" href="../paper-input/paper-input.html">

<dom-module id="liquid-component-text">
  <style is="custom-style"> 
    paper-input {
      --paper-input-container-color: black;
      --paper-input-container-focus-color: black;
      --paper-input-container-input-color: black;
    }
  </style>
  <template>
    <paper-input value="{{text}}"></paper-input>
  </template>
  <script>
    Polymer({
      is: 'liquid-component-text',

      behaviors: [LiquidBehavior],

      properties: {
        text: { 
          notify: true,
          value: 'placeholder',
          liquid: { scope: 'shared' }
        }
      },
    });
  </script>
</dom-module>